body {
  color: #737373;
  font-family: 'Open Sans', Tahoma, Arial, helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.6em;
  font-weight: 400;
}

li a:hover {
  color: #c96810;
  text-decoration: none;
}

.global-wrap {
  background: #fff;
  height: 100%;
}

header#main-header {
  border-bottom: 2px solid #ed8323;
}

.header-top {
  padding: 10px 0;
  max-height: 60px;
  background: #4d4d4d;
}

.top-user-area {
  font-size: 12px;
  position: relative;
}

.top-user-area .top-user-area-list {
  position: absolute;
  top: 0;
  right: 0;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list-center {
  display: table;
  margin: 0 auto;
}

.list-inline-block > li {
  display: inline-block;
}

.list-horizontal > li,
.list-inline > li {
  float: left;
  margin-right: 10px;
  padding: 0;
  display: block;
}

.list-horizontal > li:last-child,
.list-inline > li:last-child {
  margin-right: 0;
}

.list-horizontal.list-border > li,
.list-inline.list-border > li {
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid rgba(0,0,0,0.13);
}

.list-horizontal.list-border > li:last-child,
.list-inline.list-border > li:last-child {
  margin-right: 0;
  padding-right: 0;
  border: none;
}

.list-horizontal:after,
.list-inline:after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

ul.slimmenu li a {
  display: block;
  padding: 12px 20px;
  font-size: 15px;
  text-transform: uppercase;
  font-family: 'Roboto', arial, helvetica, sans-serif;
  color: #737373;
  -webkit-transition: background-color 0.17s ease-out;
  -moz-transition: background-color 0.17s ease-out;
  -o-transition: background-color 0.17s ease-out;
  -ms-transition: background-color 0.17s ease-out;
  transition: background-color 0.17s ease-out;
}

.top-user-area .top-user-area-list > li > a {
  color: #f2f2f2;
}

.top-user-area > li > a :hover {
  color: #c96810;
  text-decoration: none;
}

.top-user-area > ul >li {
  line-height: 40px;
}

.list-horizontal > li, .list-inline > li {
  float: left;
  margin-right: 10px;
  padding: 0;
  display: block;
}

.top-user-area {
  font-size: 12px;
  position: relative;
}

.form-group.form-group-filled label.label-highlight {
  color: #ed8323;
}
.form-control {
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  line-height: 1.6em;
}
.form-control:active,
.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #ed8323;
}

.form-control select {
  border: 1px solid #ed8323;
}

.container-inline-date .date-padding {
  padding: 7px;
  float: left;
}

.form-group.form-group-lg.form-group-icon-left .form-control {
  padding-left: 45px;
}

::selection {
  background: #ed8323;
  color: #fff;
}

  ul.slimmenu {
  list-style: none;
  margin: 0 auto  ;
  text-align: center;
  margin-top: -2px;
  padding: 0;
  width: 65%;
}

ul.slimmenu li {
  position: relative;
  display: inline-block;
}

ul.slimmenu li.active > a, ul.slimmenu li:hover > a {
  background: #ed8323;
  color: #fff;
}

ul.slimmenu li.slimmenu-sub-menu a {
  padding: 12px 34px 12px 20px;
}

footer#main-footer {
  background: #262626;
  padding: 60px 0 30px 0;
  color: #e6e6e6;
  font-size: 11px;
  line-height: 1.4em;
}

.top-area, .special-area {
  height: 700px;
  position: relative;
  overflow: hidden;
}

.bg-holder {
  position: relative;
  overflow: hidden;
}

.full, .full-page {
  width: 100%;
  height: 100%;
}

.bg-holder > .bg-mask, .bg-holder > .bg-mask-darken, .bg-holder > .bg-mask-lighten, .bg-holder > .bg-mask-white, .bg-holder > .bg-mask-color, .bg-holder > .bg-mask-color-invert {
  width: 100%;
  height: 100%;
  z-index: 5;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  background: #000;
}

.bg-holder > .bg-mask, .bg-holder > .bg-parallax, .bg-holder > .bg-img {
  width: 100%;
  height: 100%;
}

.bg-holder > .bg-mask, .bg-holder > .bg-blur, .bg-holder > .bg-mask-darken, .bg-holder > .bg-mask-lighten, .bg-holder > .bg-parallax, .bg-holder > .bg-img, .bg-holder > .bg-video {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: center center;
}

.bg-holder > .bg-parallax {
  background-position: 50% 0;
  background-attachment: fixed;
}

.tab_search_form {
  background: #fff;
  padding: 25px;
  -webkit-box-shadow: 0 2px 1px rgba(0,0,0,0.15);
  box-shadow: 0 2px 1px rgba(0,0,0,0.15);
}

.search-tabs > .tabbable >.tab-content > .tab-pane {
  padding: 15px;
}

.bg-holder > .bg-mask, .bg-holder > .bg-parallax, .bg-holder > .bg-img {
  width: 100%;
  height: 100%;
}

.bg-holder > .bg-mask, .bg-holder > .bg-blur, .bg-holder > .bg-mask-darken, .bg-holder > .bg-mask-lighten, .bg-holder > .bg-parallax, .bg-holder > .bg-img, .bg-holder > .bg-video {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: center center;
}

.fa-map-marker:before {
  content: "\f041";
}

.bg-holder > .bg-holder-content, .bg-holder > .bg-content {
  position: relative;
  z-index: 7;
}

.search-tabs-bg > h1 {
  color: #fff;
  margin-bottom: 25px;
}

.form-group.form-group-lg {
  margin-bottom: 25px;
}

.form-group {
  position: relative;
}

.form-group.form-group-lg .input-icon {
  width: 75px;
  height: 70px;
  line-height: 59px;
  font-size: 28px;
}

.form-group .input-icon {
  position: absolute;
  width: 32px;
  height: 32px;
  line-height: 32px;
  display: block;
  top: 29px;
  left: 1px;
  text-align: center;
  color: #b3b3b3;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
  z-index: 2;
}

.form-group.form-group-lg .form-control {
  height: 45px;
  padding: 10px 18px;
  font-size: 13px;
}

.form-group.form-group-lg label {
  font-size: 16px;
  margin-bottom: 7px;
}

.container-inline-date .form-item, .container-inline-date .form-item input {
  width: 100%;
}

label {
  font-weight: 400;
  display: block;
}

.item-count-adults {
  display: inline-block;
  margin: 0;
  background: url('../images/people.png') 4px 1px no-repeat;
  cursor: pointer;
  float: left;
  margin: 0 1px 0 0;
  height: 41px;
  width: 19px;
}

.item-count-adults.light {
  background: url('../images/people-active.png') 4px 1px no-repeat;
}

.people-children-count {
  margin-top: 15px;
}

.item-count-children {
  display: inline-block;
  margin: 0;
  background: url('../images/kid.png') 4px 1px no-repeat;
  cursor: pointer;
  float: left;
  margin: 0 1px 0 0;
  height: 41px;
  width: 19px;
}

.item-count-children.light {
  background: url('../images/kid-active.png') 4px 1px no-repeat;
}

#children-birthday1 {
  display: none;
  padding: 0;
}

#children-birthday2 {
  display: none;
  padding: 0;
}

.form-item-birthday1{
  width: 100%;
}

.form-item-birthday2 {
  width: 100%;
}

.form-year-children {

}

.children-count {
  float: left;
}